{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des images</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description (alt)</th>
                <th>Sous_titre</th>
                <th>Source</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><a href="{{ path('admin_image_show', { 'id': image.id }) }}">{{ image.id }}</a></td>
                <td>{{ image.description }}</td>
                <td>{{ image.caption }}</td>
                <td>{{ image.source }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_image_show', { 'id': image.id }) }}">Détail</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_image_edit', { 'id': image.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_image_new') }}">Créer une nouvelle image</a>
        </li>
    </ul>
{% endblock %}
