{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1>Liste des articles:</h1>
        
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Sous-titre</th>
                        <th>Créé le</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td><a href="{{ path('admin_article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.subtitle }}</td>
                        <td>{% if article.created %}{{ article.created|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_article_show', { 'id': article.id }) }}">Détail</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">Editer</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('admin_article_new') }}">Créer un nouvel article</a>
                </li>
            </ul>
        </div>    
    </div>
{% endblock %}
