{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article {{ article.id }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Sous-titre</th>
                <td>{{ article.subtitle }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ article.author }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{% if article.created %}{{ article.created|date('Y-m-d') }}{% endif %}</td>
            </tr>
            {% if article.images is not empty %}
            <tr>
                <th>Images liées</th>
                <td>
                    <ul>
                    {% for image in article.images %}
                        <li><a href="{{ path('admin_image_show', { 'id': image.id }) }}">{{ image.source }}</a> / {{ image.description }}
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if article.errors is not empty %}
            <tr>
                <th>Erreurs liées</th>
                <td>
                    <ul>
                    {% for error in article.errors %}
                        <li><a>{{ error.title }} -> {{ error.target }}</a></li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_article_index') }}">Retour à la liste d'articles</a>
        </li>
        <li>
            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Effacer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
